@model Web.ViewModels.AddOrUpdateGroupViewModel

@{
    ViewBag.Title = "AddOrUpdate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel-group">
    <div class="panel panel-success">
        <div class="panel-heading">
            <a data-toggle="collapse" href="#panelEdit">Edit</a>
        </div>
        <div id="panelEdit" class="panel-collapse collapse in">
            <div class="panel-body">
                <form class="form-horizontal" action="@Url.Action("AddOrUpdate", "Groups")" method="post">
                    @if (Model.IsUpdate)
                    {
                        <input type="hidden" name="id" value="@Model.Group.ID" />
                    }

                    <div class="form-group">
                        <label class="col-md-2 control-label">Name</label>
                        <div class="col-md-10">
                            <input class="form-control" name="Name" required value="@Model.Group.Name" />
                        </div>
                    </div>

                    @if (Model.IsUpdate)
                    {
                        <input type="submit" class="btn btn-success" value="Update" />
                    }
                    else
                    {
                        <input type="submit" class="btn btn-success" value="Add" />
                    }

                </form>
            </div>
        </div>
    </div>

    <div class="panel panel-success">
        <div class="panel-heading">
            <a data-toggle="collapse" href="#panelUsers">Users</a>
        </div>
        <div id="panelUsers" class="panel-collapse collapse in">
            <div class="panel-body">
                @if (Model.IsUpdate)
                {
                    <form class="form-horizontal" action="@Url.Action("AddUserToGroup", "Groups")" method="post">
                        <input type="hidden" name="groupID" value="@Model.Group.ID" />
                        <div class="form-group">
                            <label class="col-md-2 control-label">User</label>
                            <div class="col-md-4">
                                @Html.DropDownList("userID", Model.AllOtherUsers, new { @class = "form-control" })
                            </div>

                            <input type="submit" class="btn btn-success col-md-2" value="Add User" />
                        </div>
                    </form>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in Model.Group.Users)
                            {
                                <tr>
                                    <td>@user.Name</td>
                                    <td>@user.Email</td>
                                    <td>@*<a href="@Url.Action("AddOrUpdate", "Questions", new { id = question.ID })">Edit</a>*@</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>
        
    </div>

    <div class="panel panel-success">
        <div class="panel-heading">
            <a data-toggle="collapse" href="#panelSubjects">Tests</a>
        </div>
        <div id="panelSubjects" class="panel-collapse collapse in">
            <div class="panel-body">
                @if (Model.IsUpdate)
                {
                    <form class="form-horizontal" action="@Url.Action("AddTestToGroup", "Groups")" method="post">
                        <input type="hidden" name="groupID" value="@Model.Group.ID" />
                        <div class="form-group">
                            <label class="col-md-1 control-label">Test:</label>
                            <div class="col-md-1">
                                @Html.DropDownList("testID", Model.AllOtherTests, new { @class = "form-control" })
                            </div>

                            <label class="col-md-1 control-label">Count:</label>
                            <div class="col-md-1">
                                <input type="number" name="questionsPerUser" class="form-control" value="1" min="1" max="100" />
                            </div>
                            
                            <label class="col-md-1 control-label">Start:</label>
                            <div class="col-md-3">
                                <input type="datetime-local" name="dateStart" class="form-control" />
                            </div>

                            <label class="col-md-1 control-label">End:</label>
                            <div class="col-md-3">
                                <input type="datetime-local" name="dateEnd" class="form-control" />
                            </div>

                            <input type="submit" class="btn btn-success col-md-2" value="Add Test" />
                        </div>
                    </form>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var test in Model.Group.Tests)
                            {
                                <tr>
                                    <td>@test.Name</td>
                                    <td>@test.Description</td>
                                    <td>@*<a href="@Url.Action("AddOrUpdate", "Questions", new { id = question.ID })">Edit</a>*@</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
</div>





