@model Web.ViewModels.GroupListViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="@Url.Action("AddOrUpdate", "Groups")" class="btn-success">Add new group</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var group in Model.Groups)
        {
            <tr>
                <td>@group.ID</td>
                <td><a href="@Url.Action("Item", "Groups", new { id = group.ID })">@group.Name</a></td>
                <td><a href="@Url.Action("AddOrUpdate", "Groups", new { id = group.ID })">Edit</a></td>
            </tr>
        }
    </tbody>
</table>
