@model Web.ViewModels.AcademicSubjectListViewModel
@{
    ViewBag.Title = "Academic subjects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="@Url.Action("AddOrUpdate", "AcademicSubject")" class="btn-success" >Add new subject</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var academicSubject in Model.AcademicSubjects)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Index", "AcademicSubject")" >@academicSubject.Name</a>
                </td>
                <td>
                    @academicSubject.Description
                </td>
                <td>
                    <a class="btn-info" href="@Url.Action("AddOrUpdate", "AcademicSubject", new { id = academicSubject.ID })">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>

