@model Web.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Testing</h1>
    <p class="lead"> is a free system for building great tests for students.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Your today tests</h2>
        <ul>
            @foreach(var test in Model.AvailableTests)
            {
                <li><a href="@Url.Action("Item", "Tests", new { userTestID = test.ID })">@test.Name</a> (@test.DateStart - @test.DateEnd)</li>
            }
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Your passed tests</h2>
        <ul>
            @foreach (var test in Model.PassedTests)
            {
                <li><a href="@Url.Action("Item", "Tests", new { userTestID = test.ID })">@test.Name</a> (@test.DateStart - @test.DateEnd)</li>
            }
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Your future tests</h2>
        <ul>
            @foreach (var test in Model.FutureTests)
            {
                <li><a href="@Url.Action("Item", "Tests", new { id = test.ID })">@test.Name</a> (@test.DateStart - @test.DateEnd)</li>
            }
        </ul>
    </div>
</div>