@model Web.ViewModels.AddOrUpdateQuestionViewModel

@{
    ViewBag.Title = "Edit question";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="form-horizontal" method="post" action="@Url.Action("AddOrUpdate", "Questions")">
    @if (Model.IsUpdate)
    {
        <input type="hidden" name="id" value="@Model.Question.ID" />
    }
    
    <input type="hidden" name="testID" value="@Model.Question.TestID" />

    <div class="form-group">
        <label class="col-md-2 control-label">Question</label>
        <div class="col-md-10">
            <input class="form-control" name="questionString" required value="@Model.Question.QuestionString" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Available Answers</label>
        <div class="col-md-5">
            <ol>
                @{
                    int i = 0;
                }
                @foreach (var answer in Model.Question.AvailableAnswers)
                {
                    <li>
                        <input type="checkbox" name="availableAnswers[@i].IsTrue" value="true" @(answer.IsTrue ? "checked" : null) />
                        <input type="text" name="availableAnswers[@i].AnswerString" value="@answer.AnswerString" />
                        <input type="hidden" name="availableAnswers[@i].QuestionID" value="@answer.QuestionID" />
                    </li>

                    i++;
                }

                @for (int j = i; j < 4; j++)
                {
                    <li>
                        <input type="checkbox" name="availableAnswers[@j].IsTrue" value="true"/>
                        <input type="text" name="availableAnswers[@j].AnswerString" />
                        <input type="hidden" name="availableAnswers[@j].QuestionID" />
                    </li>
                }
            </ol>
        </div>
    </div>

    @if (Model.IsUpdate)
    {
        <input class="btn-default" type="submit" value="Update question" />
    }
    else
    {
        <input class="btn-default" type="submit" value="Add question" />
    }
</form>